@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --dark-text: #333;
  --form-button: #2da5ff;
  --color-grey: #eae6eb;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  width: 100%;
  padding: 8rem 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

}


img {
  border-radius: 3px;
}


@media (min-width:315px) and (max-width:576px) {
<<<<<<< HEAD
  .container {
=======
  .container{
>>>>>>> 60e5d856ede1f5e22f3f51ee111907c348469cca
    width: 90%;
  }
}


@media (min-width:577px) and (max-width:768px) {
<<<<<<< HEAD
  .container {
=======
  .container{
>>>>>>> 60e5d856ede1f5e22f3f51ee111907c348469cca
    width: 700px;
  }
}

@media (min-width:769px) and (max-width:991px) {
<<<<<<< HEAD
  .container {
=======
  .container{
>>>>>>> 60e5d856ede1f5e22f3f51ee111907c348469cca
    width: 960px;
  }
}

@media (min-width:992px) and (max-width:1200px) {
<<<<<<< HEAD
  .container {
=======
  .container{
>>>>>>> 60e5d856ede1f5e22f3f51ee111907c348469cca
    width: 1140px;
  }
}


@media (min-width:1201px) and (min-width:1400px) {
<<<<<<< HEAD
  .container {
    width: 1390px;
  }

  .header-bg {

    min-height: 70vh;

  }
}
=======
  .container{
    width: 1390px;
  }
  .header-bg{
 
    min-height: 70vh;
    
}
}
>>>>>>> 60e5d856ede1f5e22f3f51ee111907c348469cca
